* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}


html {
    scroll-behavior: smooth;

}

body {

    cursor: default;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    background-color: black;
    font-size: 10px;
    overflow-x: hidden !important;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.opacity {
    opacity: 0.7;
}

.material-symbols-outlined {
    font-weight: 100 !important;

}

/*------odnosniki------*/
#page-1 {
    position: absolute;
    padding: 1px;
    top: -8%;
    left: 0;
}

.end_odc {
    position: absolute;
    padding: 1px;
    background-color: red;
    top: -6%;
    left: 0;
    z-index: -1;
}



/*------header------*/

.logo_up {

    height: 20px;
    width: 20px;

}

/*------nav------*/

nav {
    -webkit-backdrop-filter: saturate(1.8) blur(7px);
    backdrop-filter: saturate(1.8) blur(7px);
    transition: 0.4s;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.wid_nav {
    width: 400px;
    margin: auto;
    background-color: red;
}

.menu_ul {
    display: flex;
    justify-content: space-between;
    color: white;
    width: 400px;
    list-style-type: none;
    font-size: 0.8rem;
    margin: 0;
    position: absolute;
    top: 50%;

    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.a_li {
    color: rgba(240, 248, 255, 0.866);
    text-decoration: none;
}

.burger {
    display: none;
}

.sidenav {
    display: none;
}

@media only screen and (max-width: 830px) {
    .wid_nav {
        display: none;
    }

    .burger {
        display: block;
    }

    .sidenav {
        display: block;
    }

    .burger {
        height: 1.9rem;
        width: 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 10px;
        position: absolute;
        top: 10px;
        right: 5px;

    }


    .burger span {
        width: 100%;
        height: 1px;
        background-color: rgb(255, 255, 255);
        border-radius: 50px;
        margin: auto;
        position: relative;
        transition: all 0.3s ease-in-out;
    }

    .burger.active {
        z-index: 1;
        background-color: rgba(0, 0, 0, 0);
    }

    .burger.active>span {
        background-color: white;
    }

    .burger.active>span:nth-child(1) {

        transform: rotate(-45deg) translateY(0.1rem) translateX(-0.1rem);
    }

    .burger.active>span:nth-child(2) {
        transform: rotate(45deg)translateY(-0.12rem)translateX(-0.2rem);
        ;
    }


    .sidenav {
        border: 2.5px solid rgba(0, 0, 0, 0.997);
        border-radius: 0 0 0 15px;
     
border-top: none;
        width: 100px;
        position: fixed;
        z-index: 1;
        top: 50px;
        right: -500px;

        overflow-x: hidden;
        transition: 0.5s;

    }

    .sidenav.active {
        right: 0px;

        background-color: rgba(0, 0, 0, 0.526);
    }

    .sidenav a {
        padding: 30px 8px 30px 8px;
        text-decoration: none;
        font-size: 15px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
        margin: auto;
        text-align: center;

    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    .container {
        display: inline-block;
        cursor: pointer;
    }


}

/*---sroll--*/

.sroll {
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.sroll_div {
    cursor: pointer;
    border-radius: 10px;
    position: absolute;
    z-index: 100;
    bottom: 15px;
    right: 20px;
    padding: 5px;
    background-color: rgb(34, 34, 34);
}
